<app-colored-bars></app-colored-bars>
<div class="service-container">
  <div class="service-section section-mesure">
    <div class="logo-container">
      <img src="assets/lettre_M.svg" alt="Logo Mesure" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement de sites web sur</h1>
      <div class="end-of-word">
        <span class="transformer">E</span>
        <span class="transformer">S</span>
        <span class="transformer">U</span>
        <span class="transformer">R</span>
        <span class="transformer">E</span>
      </div>
      <p>• Création de sites web <span class="highlight">personnalisés</span> pour répondre à vos <span class="highlight">besoins spécifiques</span>.</p>
      <p>• Utilisation des <span class="highlight">dernières technologies</span> pour garantir des <span class="highlight">performances optimales</span>.</p>
    </div>
  </div>

  <div class="service-section section-frontend">
    <div class="logo-container">
      <img src="assets/lettre_F.svg" alt="Logo Frontend" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement</h1>
      <div class="end-of-word">
        <span class="transformer">R</span>
        <span class="transformer">O</span>
        <span class="transformer">N</span>
        <span class="transformer">T</span>
        <span class="transformer">E</span>
        <span class="transformer">N</span>
        <span class="transformer">D</span>
      </div>
      <p>• Maîtrise de <span class="highlight">HTML5, CSS3, JavaScript</span> (ECMAScript 6).</p>
      <p>• Utilisation de frameworks modernes tels que <span class="highlight">React, Angular</span>, et <span class="highlight">Vue.js</span> <br> pour des interfaces utilisateur dynamiques et réactives.</p>
    </div>
  </div>

  <div class="service-section section-backend">
    <div class="logo-container">
      <img src="assets/lettre_B.svg" alt="Logo Backend" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">C</span>
        <span class="transformer">K</span>
        <span class="transformer">E</span>
        <span class="transformer">N</span>
        <span class="transformer">D</span>
      </div>
      <p>• Expertise en <span class="highlight">Node.js</span> et <span class="highlight">Express</span> pour des back-ends robustes.</p>
      <p>• Gestion de bases de données <span class="highlight">SQL</span> avec <span class="highlight">MySQL</span>.</p>
      <p>• <span class="highlight">CMS WordPress</span> avec <span class="highlight">Elementor</span> pour des sites faciles à gérer.</p>
    </div>
  </div>

  <div class="service-section section-support">
    <div class="logo-container">
      <img src="assets/lettre_S.png" alt="Logo Support" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Maintenance</h1>
      <div class="end-of-word">
        <span class="transformer">U</span>
        <span class="transformer">P</span>
        <span class="transformer">P</span>
        <span class="transformer">O</span>
        <span class="transformer">R</span>
        <span class="transformer">T</span>
      </div>
      <p>• Support continu pour assurer le bon fonctionnement de votre site.</p>
      <p>• Services de maintenance pour garder votre site à jour et sécurisé.</p>
      <p>• Analyse et optimisation des performances de votre site pour garantir rapidité et efficacité.</p>
    </div>
  </div>

  <div class="service-section section-languages">
    <div class="logo-container">
      <img src="assets/lettre_L.svg" alt="Logo Languages" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Technologies Utilisées</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">N</span>
        <span class="transformer">G</span>
        <span class="transformer">A</span>
        <span class="transformer">G</span>
        <span class="transformer">E</span>
        <span class="transformer">S</span>
      </div>
      <p>• Front-end: HTML5, CSS3, JavaScript (ES6), React, Angular (modern), Vue.js.</p>
      <p>• Back-end: Node.js, Express, MySQL, CMS WordPress avec Elementor.</p>
      <p>• Exploration: Exploration de Nest.js, Three.js, TypeScript et Spring.</p>
    </div>
  </div>

  <div class="service-section section-extras">
    <div class="logo-container">
      <img src="assets/lettre_E.svg" alt="Logo Extras" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Services Complémentaires</h1>
      <div class="end-of-word">
        <span class="transformer">X</span>
        <span class="transformer">T</span>
        <span class="transformer">R</span>
        <span class="transformer">A</span>
        <span class="transformer">S</span>
      </div>
      <p>• Conception UX/UI: Pour une expérience utilisateur optimale.</p>
      <p>• Marketing Digital: Stratégies pour augmenter votre présence en ligne.</p>
      <p>• Hébergement Web: Solutions d'hébergement fiables et sécurisées.</p>
      <p>• Optimisation SEO: Pour améliorer la visibilité de votre site sur les moteurs de recherche.</p>
    </div>
  </div>

  <div class="service-section section-approach">
    <div class="logo-container">
      <img src="assets/lettre_A.svg" alt="Logo Approach" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Notre Méthodologie</h1>
      <div class="end-of-word">
        <span class="transformer">P</span>
        <span class="transformer">P</span>
        <span class="transformer">R</span>
        <span class="transformer">O</span>
        <span class="transformer">C</span>
        <span class="transformer">H</span>
        <span class="transformer">E</span>
      </div>
      <p>• Gestion de projets de A à Z avec une exigence élevée pour la perfection.</p>
      <p>• Utilisation de méthodologies agiles pour une gestion de projet efficace.</p>
      <p>• Normes de codage strictes, code review et documentation rigoureuse.</p>
      <p>• Tests end-to-end et tests unitaires pour assurer la qualité du code.</p>
    </div>
  </div>

  <div class="service-section section-pricing">
    <div class="logo-container">
      <img src="assets/lettre_T.svg" alt="Logo Pricing" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Nos Offres</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">R</span>
        <span class="transformer">I</span>
        <span class="transformer">F</span>
        <span class="transformer">I</span>
        <span class="transformer">C</span>
        <span class="transformer">A</span>
        <span class="transformer">T</span>
        <span class="transformer">I</span>
        <span class="transformer">O</span>
        <span class="transformer">N</span>
      </div>
      <p>• Devis personnalisés disponibles sur demande.</p>
      <p>• Tarifs de base à partir de 2000€ pour un site web complet.</p>
      <p>• Tarifs horaires pour les retours express et la maintenance.</p>
    </div>
  </div>
</div>
<app-colored-bars></app-colored-bars>
